{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Listar Productos</title>
    <link rel="stylesheet" href="{% static 'css/buscador.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    {% include 'index.html' %}
    <style>
        #tablaProductos {
            width: 100%;
            transition: width 0.3s;
        }
        #verMasContainer { 
            display: flex; 
            justify-content: center; 
            margin-top: 10px;
            border-radius: 15px;
            
        }
        #verMasBtn {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;
    }
    </style>

    <h1>Listado de Productos</h1>

    <table id="tablaProductos">
        <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Precio Costo</th>
            <th>Precio Venta</th>
            <th>Precio Mayor</th>
            <th>Inventario</th>
            <th>Inventario Mínimo</th>
            <th>Categoria</th>
            <th>Detalles</th>
        </tr>
        {% for producto in productos %}
        <tr class="producto-fila">
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>${{ producto.precio_costo }}</td>
            <td>${{ producto.precio_venta }}</td>
            <td>${{ producto.precio_mayor }}</td>
            <td>{{ producto.cantidad_inventario }}</td>
            <td>{{ producto.inventario_minimo }}</td>
            <td>{{ producto.tipo.nombre }}</td>
            <td><a href="{% url 'detalle_producto' producto.id_producto %}" style="text-decoration: none;">👁️</a></td>
        </tr>
        {% endfor %}
    </table>

    <div id="verMasContainer">
        <button id="verMasBtn">Ver más</button>
    </div>      

    <div id="formularioBusqueda">
        <form action="{% url 'buscar_productos' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar Productos">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const productos = document.querySelectorAll('.producto-fila');
            const verMasBtn = document.getElementById('verMasBtn');
            const productosPorPagina = 20;
            let productosVisible = productosPorPagina;

            function actualizarVisibilidadProductos() {
                productos.forEach((producto, index) => {
                    if (index < productosVisible) {
                        producto.style.display = 'table-row';
                    } else {
                        producto.style.display = 'none';
                    }
                });
            }

            actualizarVisibilidadProductos();

            verMasBtn.addEventListener('click', function (event) {
                event.preventDefault(); // Prevenir que la página se desplace hacia arriba

                productosVisible += productosPorPagina;
                actualizarVisibilidadProductos();
            });
        });
        
        function eliminarProducto(event) {
            event.preventDefault();

            Swal.fire({
                title: '¿Estás seguro de que deseas eliminar este producto?',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('eliminarForm').submit();
                }
            });
        }
        const tablaProductos = document.getElementById('tablaProductos');
        const contenidoTabla = document.getElementById('contenidoTabla');
        const mostrarNavegacion = document.getElementById('mostrarNavegacion');
        const navegacion = document.getElementById('navegador');

        navegacion.style.width = '150px';
        tablaProductos.style.width = '90%';

        mostrarNavegacion.addEventListener('click', function (event) {
            event.preventDefault();

            if (navegacion.style.width === '150px') {
                navegacion.style.width = '0';
                tablaProductos.style.width = '100%';
                tablaProductos.classList.remove('tabla-navegacion-abierta');
                contenidoTabla.classList.remove('tabla-navegacion-abierta');
            } else {
                navegacion.style.width = '150px';
                tablaProductos.style.width = 'calc(100% - 150px)';
                tablaProductos.classList.add('tabla-navegacion-abierta');
                contenidoTabla.classList.add('tabla-navegacion-abierta');
            }
        });
    </script>

</body>

</html>
{% endblock content %}